.containerSection1Home {
  
  position: relative;
  width: 100dvw;
  height: auto;
}

.containerSection1Home img {
  width: 100%;
  height: auto;
}

.div-home {
  position: absolute;
  top: 70%;
  left: 70%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7); /* Fondo semi-transparente */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column; /* Mantiene los elementos en columna */
  align-items: flex-end; /* Alinea los botones a la derecha */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 1.2);
}

.boton-centro {
  width: 100%; /* Hace que el contenedor del botón ocupe todo el ancho del div */
  display: flex; /* Permite centrar contenido */
  justify-content: center; /* Centra el contenido horizontalmente */
  margin-bottom: 10px; /* Espacio entre el botón centrado y los otros */
}

.div-home h1 {
  margin-bottom: 20px;
  font-family: ConcertOne;
}

.div-home a {
  text-decoration: none;
}

.div-home p {
  background-color: var(--guardian-rosa); /* Color del botón */
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px 0; /* Espacio entre los botones */
  display: block; /* Esto hace que cada botón ocupe una línea completa */
  width: fit-content; /* Ajusta el ancho al contenido */
  text-align: center; /* Alinea el texto en el centro */
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-size: 27px;
  font-family: Signika;
  border: 2px solid rgb(226, 65, 108);
}

.div-home p:hover {
  background-color: #1ec450; /* Efecto hover */
  color: white;
  border: 2px solid rgb(25, 131, 3);
}