.text-footer {
  text-align: center;
  font-size: 13px;
  font-family: Signika;
  color: white;
}

.footer {
  width: 100%; /* Asegura que el footer ocupe todo el ancho */
  position: relative; /* Cambiado a relative para evitar que el footer se superponga */
  margin-top: 20px; /* Espacio superior para separar del contenido anterior */
  margin-bottom: 0;
  background-color: var(--guardian-azul);
  padding:10px 0;
}

.footer-contenedor {
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
}

.text-link {
  font-size: 18px;
}

.tipo-letra {
  font-family: ConcertOne;
}

.footer hr {
  border: 2px solid white; 
  margin: 10px 0; /* Margen vertical para separación */
}

.footer .nav-link {
  color: white !important; 
  background-color: transparent !important; /* Asegura que no haya fondo en los enlaces */
}